In [3]:
str= " "
for i in range(1,10):
    if (i<5):
        str+="ðŸ˜’"
        print(str)
    elif (i>4):
        str=str[:-1]
        print(str)

 ðŸ˜’
 ðŸ˜’ðŸ˜’
 ðŸ˜’ðŸ˜’ðŸ˜’
 ðŸ˜’ðŸ˜’ðŸ˜’ðŸ˜’
 ðŸ˜’ðŸ˜’ðŸ˜’
 ðŸ˜’ðŸ˜’
 ðŸ˜’

In [6]:
# to find number of words

str =input("enter the string")
  


str1= str.split()
count= len(str1)
  

print("no.of words: ",count)

enter the stringhi my name is usha
no.of words:  5

In [7]:
#to find the number of words

count=0
s= input("Enteer the string")
for i in s:
    if(i==' '):
        count+=1
print(count)

Enteer the stringhi my name is usha sri setti
6

In [17]:
s= input("enter the string")
out= ' '
for i in s:
    if(i.isalpha()):
        ch=i
        
    else:
        dig=i
        print(ch* int(dig))

enter the stringa3d4f5
aaa
dddd
fffff

In [20]:
#wihtout arguement without return type

def fact():
    fact1=1
    for i in range(1,6):
        fact1= fact1*i
    print(fact1)
fact()

120

In [21]:
#with arg and without return
def fact(n):
    fact1=1
    for i in range(1,n+1):
        fact1= fact1*i
    print(fact1)
fact(5)

120

In [22]:
#without arg with return
def fact():
    fact1=1
    for i in range(1,6):
        fact1= fact1*i
    return fact1
fact()

120

In [23]:
#with arg with return
def fact(n):
    fact1=1
    for i in range(1,n+1):
        fact1= fact1*i
    return fact1
fact(7)

5040

In [25]:
def dfun(name,role):
    print("my name is", name, "my role is", role)
dfun("usha", "student")

my name is usha my role is student

In [26]:
def keyword(name, role):
    print("my name is", name, "my role is", role)
keyword(name="usha", role="student")

my name is usha my role is student

In [27]:
# Arbitary *keywords
def keystar(*names):
    for i in names:
        print(i)
keystar("usha","varshu","vedha","beebi")

usha
varshu
vedha
beebi

In [30]:
#Arbitary keywords
def keystar(**names):
    print(names["clg"],names["add"])
keystar(clg="vignan", add="dvd")

vignan dvd

In [31]:
# recursive function
fact=1
def factt(n):
    if n==1:
        return 1
    else:
        return n*factt(n-1)
print(factt(5))

120