In [23]:
li=[2,5,4,"surya",True]
li.append("surya")
print(li)

[2, 5, 4, 'surya', True, 'surya']

In [5]:
li=[2,5,4,"vedha",True]
li.insert(2, "usha") #insert the given string after the given position from start
print(li)

[2, 5, 'usha', 4, 'vedha', True]

In [8]:
li=[2,5,4,9,7,5,4]
li.sort()  #arranging in ascending order
print(li)

[2, 4, 4, 5, 5, 7, 9]

In [10]:
li=[2,5,4,9,7,5,4]
li.pop()  #removes the last element of the given list
li

[2, 5, 4, 9, 7, 5]

In [12]:
li=[2,5,4,9,7,5,4]
li.remove(5)   #if two numbers are present of given number the 1st index is removed
li

[2, 4, 9, 7, 5, 4]

In [13]:
li=[2,5,4,9,7,5,4]
li.reverse()  #reverses the list
li

[4, 5, 7, 9, 4, 5, 2]

In [19]:
li=[2,5,4,9,[7,5,4]]
print(li[0])
print(li[1])
print(li[2])
print(li[3])
print(li[4])
print(li[4][0])
print(li[4][1])
print(li[4][2])
print(li[4][0:2])
print(li.count(5))
print(li.index(5))  #counts the index of the 1st element of the duplicate valeu

2
5
4
9
[7, 5, 4]
7
5
4
[7, 5]
1
1

In [20]:
li=[2,5,4,9,[7,5,4]]
li.append(1)
li

[2, 5, 4, 9, [7, 5, 4], 1]

In [22]:
l3=[34,35]
l2=l3.copy() # copying data
l2

[34, 35]

In [24]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [25]:
li=[2,3,4,5,6,7]
l2=[4,6,87,3]
li.extend(l2)   #all the elements are added to l2
li

[2, 3, 4, 5, 6, 7, 4, 6, 87, 3]

In [30]:
li=[2,3,4,5,6,7]
print(max(li))
print(min(li))
print(len(li))

7
2
6

In [32]:
li=[2,3,4,5,6,7]
sum=0
for i in li:
    sum+=i
print(sum)  
print("average= {}".format(sum/len(li)))

27
average= 4.5

In [45]:
s=[1,2,3,5,'a',"surya"]   # find the sum of paritcular list
s=str(s)
type(s)
sum=c=0
for i in s:
    if type(i)==int or type(i)==float:
        sum+=1
        c=c+1
print(sum/c)

ZeroDivisionError: division by zero

In [53]:
li=[2,3,4,5,6,7,4,4,5,6,8,8,9,1,2,2,3,3]
li.sort()
num= max(li)
print(num)

for i in li[::-1]:
    if(i==num):
        continue
    else:
        print(i)
        break

9
8

In [49]:
#to find nth largest
li=[2,3,4,5,6,7,4,4,5,6,8,8,9,1,2,2,3,3]
li.sort()
li2= []

for i in li:
    if i not in nli:
        nli.append(i)
print(nli)
print(nli[-4])

]

In [65]:
#to convert string to list
s= "1 2 3 4 5 6 7 8 9"
li=s.split()
nlist=[]
for i in li:
    nlist.append(int(i))
print(nlist)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [66]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [67]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [68]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']