In [2]:
sl1= "Good morning"
sl2= sl1.split()   #splits the words in sl2
sl3= "&".join(sl2)   #splitted words are joined using & by join
print(sl3)

Good&morning

In [3]:
s1= "Vignan college of engineering for women"
s2= s1.replace('e',"E")  #1st parameter - letter to be replaced , 2nd paramater-letter used to replace 
print(s2)

Vignan collEgE of EnginEEring for womEn

In [10]:
# palindrome series
str= input("enter the string  " )  #input without datatype is defaulted to string
str2= str[::-1]

if(str2==str):
    print("string is palindrome")
else:
    print("String is not palindrome")

enter the string  ses
string is palindrome

In [19]:
str= "jgh487t6y4587yhgutnbvjrnggjbh487ugbHDSERWJUYHGT"

a=" "
odd=" "
even= " "

for i in str:
    if (i.isalpha()):
        a+=i
    elif(int(i)%2==0):
        even+=i
    else:
        odd+=i

          

print("Even numbers: ",even)
print("Odd numbers:  ",odd)
print("Characters:   ", a)

Even numbers:   4864848
Odd numbers:    7577
Characters:     jghtyyhgutnbvjrnggjbhugbHDSERWJUYHGT